---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2028&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_51QLuDVAEoCNprxR5g21vxLWvlSrprWMfu2yRmcgvx2Fe3073TV9LQb7ZSuvmubCB5sWscFWfJpfFfGX7uYxyrtmY006AZroCCx
      Idempotency-Key:
      - 522d7bf1-174e-4a5a-8b44-7b903d535983
      Stripe-Version:
      - 2024-10-28.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 522d7bf1-174e-4a5a-8b44-7b903d535983
      Original-Request:
      - req_wCXCWWpPTcN6FM
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2024-10-28.acacia
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Sending credit card numbers directly to the Stripe API is generally unsafe. We suggest you use test tokens that map to the test card you are using, see https://stripe.com/docs/testing. To enable raw card data APIs in test mode, see https://support.stripe.com/questions/enabling-access-to-raw-card-data-apis.",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_wCXCWWpPTcN6FM?t=1731796149",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Sat, 16 Nov 2024 22:29:09 GMT
recorded_with: VCR 6.3.1
